.ServiceTracking {

  overflow: hidden;
  .wrapper{
    min-height:300px;
  }
  .weui-cells {
    background-color: #EEEEEE;
  }
  .engineer {
    margin-top: 45px;
  }
  .weui-search-bar:before{
    content: none;
  }
  .weui-search-bar:after{
    content: none;
  }
  .weui-search-bar__form:after{
    content: none;
  }
  .weui-search-bar__label{
    text-align: left;
  }

  .weui-panel {
    margin-top: 8px;
  }

  .weui-cell__bd{
    opacity: 0.84; 
  }
  .weui-popup {
    .page {
      background-color: #FFFFFF;
    }
    .weui-cells {
      background-color: #FFFFFF;
    }

    .weui-cell{
      height: 44px;
    }
    .weui-panel__bd{
      margin-top: 0px;
    }
    .weui-cell__hd{
      margin-top: 24px;
    }
    
    position: fixed;
    left: 0;
    bottom: 0;
    transform: translate(0, 100%);
    backface-visibility: hidden;
    z-index: 5000;
    width: 100%;
    background-color: #EFEFF4;
    transition: transform .3s;
  }

  .weui-popup.slide-down {
    top: 0;
    bottom: inherit;
    transform: translate(0, -100%);
    &.weui-popup_toggle {
      transform: translate(0, 0);
    }
  }
  .weui-cell__hd{
    height: 100%;
    margin-right: 8px;
  }
  .weui-panel__hd:after{
    left: 0px;
  }
  .image{
    width: 16px;
  }
}
